
{% extends "@QQFM/Tasks/layout.html.twig" %}

{% block title %}Index - {{ parent() }}{% endblock %}

{% block menuindex %}class="active"{% endblock %}

{% block main %}

  {% if task|default %}
    {% if date(task.next) <= date() %}
      <form>
        <p>{{ task.description }}</p>
        <button type="submit" formaction="{{ path('qqfm_task_postpone', {'id': task.id}) }}">Plus tard &#8631;</button>
        <button type="submit" formaction="{{ path('qqfm_task_postpone', {'id': task.id, 'seconds': task.frequency}) }}">&#10003; C'est fait !</button>
      </form>
    {% else %}
      <p>C'est l'heure de glander &#9996;</p>
    {% endif %}
  {% else %}
    <p>Il faut ajouter des tâches</p>
  {% endif %}

{% endblock %}
