<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" media="screen" /> 
    <title>{% block title %}Qu'est-ce qu'on fait maintenant ?{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ path('qqfm_index') }}" {% block menuindex %}{% endblock %}>Que faire ?</a></li> 
          <li><a href="{{ path('qqfm_list_tasks') }}" {% block menutasks %}{% endblock %}>Liste des tâches</a></li>
        </ul>
      </nav>
      {% for message in app.session.flashbag.get('info') %}
        <p class="info">{{ message }}</p>
      {% endfor %}
      {% for message in app.session.flashbag.get('error') %}
        <p class="alert">{{ message }}</p>
      {% endfor %}
    </header>
    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
