{% extends "@QQFM/Tasks/layout.html.twig" %}

{% block title %}Liste des tâches - {{ parent() }}{% endblock %}

{% block menutasks %}class="active"{% endblock %}

{% block main %}

<form action="{{ path('qqfm_task') }}">
<button type="submit" class="align-right">Ajouter une tâche &#8853;</button>
</form>

<table>
   <thead>
      <tr>
         <th>ID</th>
         <th>Description</th>
         <th>Fréquence</th>
         <th>Prochaine occurence</th>
         <th class="tab_options">Options</th>
      </tr>
   </thead>
   <tbody>

{% set currentTime = date("now") %}
{% for task in all_tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.description }}</td>
        <td>
          {{ task.frequency }}
        </td>
        <td
    {% if date(task.next) <= date() %}
            class="todo"
    {% endif %}
            aria-label="{{ task.next|date('Y-m-d H:i:s') }}">
        {% if date(task.next) <= date() %}
                 À faire !
        {% else %}
                 {{ time_diff(date(task.next)) }}
        {% endif %}
        </td>
    <td class="tab_options">
    <form>
      {# ocb: options checkbox #}
      {% set ocb = "ocb" ~ task.id %}
        <input type="checkbox" class="hidden" id="{{ ocb }}">
        <div>
            <label for="{{ ocb }}" aria-label="Options">&#9881;</label>
            <label for="{{ ocb }}" aria-label="retour">&#8592;</label>
            <button type="submit" aria-label="Fait !" formaction="{{ path('qqfm_task_postpone', {'id': task.id, 'seconds': task.frequency}) }}">&#9989;</button>
            <button type="submit" aria-label="Modifier" formaction="{{ path('qqfm_task', {'id': task.id}) }}">&#10000;</button>
            <button type="submit" aria-label="Supprimer" formaction="{{ path('qqfm_task_delete', {'id': task.id}) }}">&#10062;</button>
        </div>
    </form>
    </td>
</tr>
{% endfor %}


   </tbody>
</table>

{% endblock %}
