{% extends "@QQFM/Tasks/layout.html.twig" %}

{% block title %}
  {% if task|default %}
    Édition de "{{ task.description }}" - {{ parent() }}
  {% else %}
    Nouvelle tâche - {{ parent() }}
  {% endif %}
{% endblock %}

{% block main %}

<form method="post" id="edit_task">

  <div
    {%if not task|default %}
      class="hidden"'
    {% endif %}
    >
    <label for="edit_id">Tâche n°</label>
    <span>{{ task.id|default }}</span>
  </div>
  <div>
    <label for="edit_description">Description</label>
    <input type="text" id="description" name="description" value="{{ task.description|default }}" required>
  </div>
  <div>
    <label for="edit_frequency">Fréquence</label>
    <ul id="edit_frequency" >
      <li>
        <input type="number" id="frequency_months" name="frequency_months" value="{{ frequency.month|default(0) }}" min="0" >
          <label for="frequency_months">mois</label>
      </li>
      <li>
        <input type="number" id="frequency_weeks" name="frequency_weeks" value="{{ frequency.week|default(0) }}" min="0" >
          <label for="frequency_weeks">semaines</label>
      </li>
      <li>
        <input type="number" id="frequency_days" name="frequency_days" value="{{ frequency.day|default(1) }}" min="0" >
          <label for="frequency_days">jours</label>
      </li>
      <li>
        <input type="number" id="frequency_hours" name="frequency_hours" value="{{ frequency.hour|default(0) }}" min="0" >
          <label for="frequency_hours">heures</label>
      </li>
      <li>
        <input type="number" id="frequency_minutes" name="frequency_minutes" value="{{ frequency.minute|default(0) }}" min="0" >
          <label for="frequency_minutes">minutes</label>
      </li>
      <li>
        <input type="number" id="frequency_seconds" name="frequency_seconds" value="{{ frequency.second|default(0) }}" min="0" >
          <label for="frequency_seconds">secondes</label>
      </li>
    </ul>
  </div>
  <div>
    <label for="next">Prochaine occurence</label>
    <input type="datetime-local" id="next" name="next"
           placeholder="Format: YYYY-MM-DD hh:mm:ss (Défaut: maintenant + fréquence)"
           value="{% if task.next|default %}{{ task.next|date('Y-m-d H:i:s') }}{% endif %}">

  </div>
  <div>
    {% if task|default %}
      <button type="submit" formaction="{{ path('qqfm_list_tasks') }}" >Annuler &#10007;</button>
      <button type="submit" formaction="{{ path('qqfm_task_update', {'id': task.id}) }}">&#8853; Modifier la tâche</button>
    {% else %}
      <button type="reset" >Reset &#10007;</button>
      <button type="submit" formaction="{{ path('qqfm_task_update') }}">&#8853; Ajouter une tâche</button>
    {% endif %}
  </div>
</form>

{% endblock %}
