body {
    font-family: sans-serif;
    text-align: center;
    margin: 0.5em;
}

.hidden {
    visibility: hidden;
    display: none;
}

input {
    border: none;
    border-bottom: .1em solid #333;
}

button {
    margin: 0.1em 2em;
    width: 13em;
    border: 0.1em solid #333;
    cursor: pointer;
    padding: 0.7em 1.4em;
    background-color: #333;
    color: #fff;
    letter-spacing: .1em;
}

button:hover {
    background-color: #ddd;
    color: black;
}

button:last-of-type:hover {
    background-color: #4CAF50;
    color: white;
}

.align-right {
    float: right;
}

/* aria-label */
[aria-label] {
    position: relative;
}

[aria-label]:hover:after,
[aria-label]:focus:after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  display: inline-block;
  top: 1em;
  left:0;
  transform: translateX(-110%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne*/
  padding: 1em 1em;
  background: #333;
  color: #fff;
  border-radius: .4em;
  font-size: .7rem;
}

[aria-label]:hover:before,
[aria-label]:focus:before {
    /* content: "◥"; */
    /* top: .5em; */
    /* left: -.5em; */
    /* display: inline; */
    /* position: absolute; */
    /* /\* transform: translateX(-105%); /\\* on centre horizontalement  *\\/ *\/ */
    /* font-size: 1em; */
    /* color: #333; */
}

/* pas de contour durant le :focus */
[aria-label]:focus {
    outline: none;
}


/* navigation menu */
nav {
    background-color: #333;
    overflow: hidden;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav a {
    display: block;
    color: #f2f2f2;
    padding: 0.7em 0.9em;
    text-decoration: none;
    font-size: 1.1em;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
nav .active {
    background-color: #4CAF50;
    color: white;
}

header>p {
    width: 40%;
    margin: 0 auto;
}

header p.alert {
    background-color: #FF4C50;
    color: black;
}

header p.info {
    background-color: #7C80DF;
    color: white;
}

main {
    margin: 5em auto;
}

main p {
    font-size: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    display: inline-block;
}

table tr > :nth-child(2) {
    width: 70%;
}
table tr > :nth-child(3), table tr > :nth-child(4) {
    width: 20%;
}

table td, table th {
    border: 0.1em solid #333;
}

table th {
    padding: .7em 1em;
    color: white;
    background-color: #4CAF50;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:hover {
    background-color: #ddd;
}

td.todo {
    background-color: #FF4C50;
}

.tab_options {
    width: 100%;
    padding: 0.1em;
}

td.tab_options input[type="checkbox"] + div > label:first-of-type {
    display: inline;
    float: left;
    width: 100%;
}

td.tab_options input[type="checkbox"] + div > label:last-of-type {
    display: none;
    float: left;
    width: 100%;
}

td.tab_options input[type="checkbox"] + div > button {
    display: none;
    padding: 0;
    margin: auto;
    width: 1em;
    color: black;
    background-color: transparent;
    border: none;
}

td.tab_options input[type="checkbox"]:checked + div > label:first-of-type {
    display: none;
}

td.tab_options input[type="checkbox"]:checked + div > label:last-of-type {
    display: inline;
}

td.tab_options input[type="checkbox"]:checked + div > button {
    display: inline;
}




#edit_task {
    margin: 2em auto;
    padding: 1.6em;
    border-radius: 0.5em;
    background-color: #eee;
    max-width: 70em;
}

#edit_task > div {
    margin: 0.2em;
}

#edit_task > div:after {
    display: table;
    content: "";
    clear: both;
}

#edit_task > div > label {
    margin: 0;
    padding: 0;
    width: 23%;
    float: left;
    display: block;
    text-align: left
}

#edit_task > div > :not(label) {
    float: right;
    width: 73%;
    margin: 0;
    padding: .3em 0;
    display: block;
}

#edit_task > div:last-child {
    text-align: right;
}

#edit_task > div > button {
    float: unset;
    display: inline-block;
    width: 13em;
    margin: 0 1em;
}

@media screen and (max-width: 45em) {
    #edit_task > div > * {
        width: 100%!important;
        margin-top: 0;
    }
}


#edit_frequency {
    padding: 0;
    margin: 0;
}

#edit_frequency > li {
    list-style-type: none;
    display: inline-block;
    width: 15%;
}

#edit_frequency > li > input {
    margin: 0;
    width: 50%;
    display: inline-block;
}

#edit_frequency > li > label {
    margin: 0;
    width: 100%;
    display: inline-block;
}
